.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: #545971;
  background-color: #142257;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

[class*=__container] {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
}

.section__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #171921;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 38px;
  }
}

.header {
  padding: 12px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 56px;
}

.logo {
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.menu__link {
  position: relative;
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #15b2f5;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #15b2f5;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  -webkit-transition: width 0.6s ease;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
  left: 0;
}

.header__hours {
  display: none;
}
@media (min-width: 768px) {
  .header__hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}

.icon-hours {
  width: 12px;
  height: 12px;
  fill: #ff5e5e;
  border-radius: 50%;
}

.text-hours {
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 56px;
  }
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1f3584;
    left: -100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 86px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
    z-index: 1;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 80px;
    background: #1f3584;
    z-index: 2;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 64px;
    text-align: center;
  }
}
.header__hours-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .header__hours-mobile {
    display: none;
  }
}

.hero {
  padding: 24px 0 0 0;
}

.hero__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 34px;
}

.hero__services-item {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #9399b2;
  margin-bottom: 14px;
}

.hero__services-item:nth-child(2)::before {
  position: absolute;
  top: 8px;
  left: -17px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9399b2;
}

.hero__services-item:nth-child(2)::after {
  position: absolute;
  top: 8px;
  right: -17px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9399b2;
}

.hero__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 43px;
  }
}

.hero__bonuses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.hero__bonuses-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #15b2f5;
}

.icon-check {
  width: 16px;
  height: 16px;
  stroke: #15b2f5;
}

.hero__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 60px;
  width: 175px;
  height: 48px;
  background-color: #15b2f5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.hero__button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.icon-phone {
  fill: #15b2f5;
  stroke: #15b2f5;
}

.home__services-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
  row-gap: 40px;
  padding: 13px 22px 28px 22px;
  margin: 0 auto;
  width: 290px;
  height: 242px;
}

.home__services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 99px;
  height: 80px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fff;
}

.home__services-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2e3f7d;
}

.home__services-icon {
  width: 16px;
  height: 16px;
  stroke: #fff;
  fill: transparent;
}

.icon-line {
  width: 217px;
  height: 2px;
  background: linear-gradient(45deg, transparent, #4f66b7 48%, transparent 100%);
}

.horizont-line {
  position: absolute;
  top: 110px;
  left: 30px;
}

.vertical-line {
  position: absolute;
  bottom: 125px;
  left: 35px;
  rotate: 90deg;
}

.icon-left-decoration {
  position: absolute;
  bottom: -1px;
  left: -43px;
  width: 179px;
  height: 31px;
  fill: #fff;
}

.icon-right-decoration {
  position: absolute;
  bottom: -1px;
  right: -43px;
  width: 179px;
  height: 31px;
  fill: #fff;
}

.content {
  padding: 60px 0 32px 0;
  background-color: #fff;
}

.content__img {
  display: block;
  width: 100%;
  margin: 0 auto 32px;
}

.content__title {
  margin-bottom: 12px;
}

.content__text {
  color: #545971;
  margin-bottom: 32px;
}

.content__list {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .content__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #1f3584;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.content-check {
  width: 16px;
  height: 16px;
  stroke: #1f3584;
  fill: transparent;
}

.content__info {
  border-radius: 12px;
  padding: 12px 24px;
  max-width: 327px;
  max-height: 145px;
  background-color: #15b2f5;
}

.content__info-text {
  color: #fff;
}

.content__info-text a {
  font-weight: 600;
  line-height: 1.33;
  margin-left: 10px;
}

.content__info-text a:hover {
  text-decoration: underline;
}

.services {
  padding: 32px 0;
  background-color: #fff;
}

.services__title {
  text-align: center;
  margin-bottom: 12px;
}

.services__description {
  max-width: 313px;
  text-align: center;
  color: #545971;
  margin: 0 auto 32px;
}
@media (min-width: 768px) {
  .services__description {
    max-width: 513px;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .services__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__item {
  max-width: 304px;
  height: 100%;
}

.services__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 12px;
  width: 64px;
  height: 64px;
  background-color: #142257;
  margin-bottom: 16px;
}

.services__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.services__card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.services__card-text {
  text-align: center;
  color: #545971;
}

.services__info {
  border-radius: 24px;
  padding: 32px;
  max-width: 327px;
  height: 236px;
  text-align: center;
  margin: 0 auto;
  background-color: #15b2f5;
}
@media (min-width: 768px) {
  .services__info {
    max-width: 303px;
    margin: 0;
  }
}

.services__info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 4px;
}

.services__info-text {
  color: #fff;
  margin-bottom: 32px;
}

.services__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  max-width: 263px;
  height: 48px;
  background-color: #fff;
  font-weight: 700;
  line-height: 1.33;
  color: #15b2f5;
  cursor: pointer;
}

.guarantee {
  padding: 32px 0;
  background-color: #142257;
}

.guarantee__container {
  padding: 0 32px;
}

.guarantee__title {
  text-align: center;
  color: #fff;
  width: 202px;
  margin: 0 auto 12px;
}
@media (min-width: 768px) {
  .guarantee__title {
    width: 502px;
    margin: 0 auto 24px;
  }
}

.guarantee__description {
  max-width: 263px;
  text-align: center;
  color: #9ea3b5;
  margin: 0 auto 52px;
}
@media (min-width: 768px) {
  .guarantee__description {
    max-width: 502px;
  }
}

.guarantee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 52px;
}
@media (min-width: 768px) {
  .guarantee__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.guarantee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 263px;
}
@media (min-width: 768px) {
  .guarantee__item {
    max-width: 300px;
    margin: 0;
  }
}

.guarantee__image {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}

.guarantee__icon {
  width: 80px;
  height: 80px;
  fill: #9ea3b5;
  stroke: transparent;
  margin-bottom: 12px;
}

.guarantee__card-title {
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.guarantee__text {
  color: #9ea3b5;
}

.works {
  padding: 32px 0;
  background-color: #fff;
}

.works__image {
  max-width: 100%;
  margin-bottom: 24px;
}

.works__title {
  width: 175px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .works__title {
    width: 490px;
  }
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.works__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.works__card span {
  font-weight: 700;
  font-size: 52px;
  line-height: 123%;
  color: #9ea3b5;
}

.works__card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  width: 164px;
  color: #171921;
}

.works__card-text {
  color: #545971;
}

.reviews {
  padding: 32px 0;
  background-color: #fff;
}

.reviews__title {
  text-align: center;
  margin-bottom: 32px;
}

.reviews__top {
  position: relative;
  text-align: center;
  height: 60px;
  margin-bottom: 24px;
}

.reviews__top::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(45deg, transparent, #b5bddb 48%, transparent 100%);
}

.reviews__text {
  text-align: center;
  color: #545971;
  margin-bottom: 24px;
}

.reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.reviews__image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.reviews__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #171921;
  margin-bottom: 4px;
}

.reviews__icon-star {
  width: 24px;
  height: 24px;
  fill: #ffa928;
}

.icon-gray {
  fill: #e3e6f0;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-pagination {
  position: relative;
  margin-top: 50px;
}

.swiper__btn-box {
  position: relative;
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e3e6f0;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #15b2f5;
}

.icon-arrow {
  width: 24px;
  height: 24px;
  stroke: #fff;
  fill: transparent;
}

.swiper-button-prev {
  position: absolute;
}

.swiper-button-next {
  position: absolute;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  margin-top: 40px;
  margin-bottom: 18px;
}

.custom-bullet {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #545971;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.swiper-pagination-bullet-active.custom-bullet {
  width: 32px;
  background-color: #15b2f5;
}

.blog {
  padding: 24px 0 32px 0;
  background-color: #fff;
}

.blog__title {
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #171921;
  margin-bottom: 16px;
}

.blog__description {
  text-align: center;
  margin-bottom: 32px;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .blog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .blog__item {
    width: 330px;
  }
}
.blog__img {
  margin-bottom: 16px;
  max-width: 100%;
}

.blog__data {
  margin-bottom: 12px;
}

.blog__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #171921;
  margin-bottom: 12px;
}

.blog__card-text {
  margin-bottom: 16px;
}

.blog__btn-more {
  font-size: 22px;
  font-weight: 600;
  color: #171921;
  margin-bottom: 16px;
}

.blog__categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.blog__categories-item {
  padding: 8px 8px;
  background-color: #f3f5f9;
  border-radius: 90px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.43;
  text-align: center;
  color: #545971;
}

.faq {
  padding: 32px 0;
  background-color: #fff;
}

.faq__title {
  text-align: center;
  margin-bottom: 16px;
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
}

.faq__question-link {
  font-weight: 600;
  line-height: 1.33;
  text-decoration: underline;
  color: #15b2f5;
}

.accordion__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.accordion__item {
  border-radius: 12px;
}

.accordion__button {
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.accordion__button p {
  width: 219px;
  font-weight: 600;
  line-height: 1.33;
  color: #3a3a3a;
}

.accordion__item.active {
  background-color: #f3f5f9;
}

.arrow {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #171921;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.accordion__text {
  font-family: "Be Vietnam", sans-serif;
  color: #737373;
  padding: 0 0 24px;
}

.accordion__content {
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.accordion__item.active .accordion-content {
  opacity: 1;
  padding: 15px 20px;
}

.accordion__item.active .arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.banner {
  padding: 56px 0 0;
}

.banner__title {
  width: 269px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin: 0 auto 24px;
}

.banner__image {
  display: block;
  max-width: 100%;
}

.footer {
  padding: 36px 0 0;
  background-color: #15b2f5;
}

.footer__box {
  border-radius: 24px;
  padding: 20px;
  max-width: 325px;
  height: 280px;
  background-color: #4ac9ff;
  margin-bottom: 30px;
}

.footer__title {
  line-height: 1.33;
  color: #fff;
  margin-bottom: 12px;
}

.footer__description {
  color: #fff;
  margin-bottom: 24px;
}

.form {
  position: relative;
}

.form__input {
  border-radius: 60px;
  padding: 8px 8px 8px 16px;
  width: 100%;
  height: 56px;
  background-color: #fff;
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #9ea3b5;
}

.input::-moz-placeholder {
  color: #9ea3b5;
}

.input:-ms-input-placeholder {
  color: #9ea3b5;
}

.input::-ms-input-placeholder {
  color: #9ea3b5;
}

.input::placeholder {
  color: #9ea3b5;
}

.form__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  width: 112px;
  height: 40px;
  border-radius: 99px;
  background-color: #15b2f5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.footer__info {
  margin-bottom: 30px;
}

.footer__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.footer__icon {
  fill: #fff;
}

.footer__logo-text {
  width: 290px;
  color: #fff;
  margin-bottom: 32px;
}

.footer__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__soc-icon {
  fill: #fff;
  stroke: #15b2f5;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  margin-bottom: 30px;
}

.footer__menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 24px;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer__menu-link {
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
}

.footer__rights {
  padding: 16px 32px;
  color: #fff;
  border-top: 1px solid #fff;
  text-align: center;
}/*# sourceMappingURL=main.css.map */