@use "../utils/variables" as *;

.banner {
  padding: 56px 0 0;

  @media (min-width: 1200px) {
    padding: 68px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.banner__title {
  width: 269px;
  line-height: 1.33;
  text-align: center;
  color: $colorNeuturalWhite;
  margin: 0 auto 24px;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 662px;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.19;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .banner__list {
    justify-content: flex-start;
    margin-bottom: 36px;
    gap: 41px;
  }
}

@media (min-width: 1200px) {
  .banner__button {
    margin-left: 0;
  }
}

.banner__image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
