@use "../utils/variables" as *;

.banner {
  padding: 56px 0 0;
}

.banner__title {
  width: 269px;
  line-height: 1.33;
  text-align: center;
  color: $colorNeuturalWhite;
  margin: 0 auto 24px;
}

.banner__image {
  display: block;
  max-width: 100%;
}
