@use "../utils/variables" as *;

.blog {
  padding: 24px 0 32px 0;
  background-color: $colorNeuturalWhite;
}

.blog__title {
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: $colorNeuturalBlack;
  margin-bottom: 16px;
}

.blog__description {
  text-align: center;
  margin-bottom: 32px;
}

.blog__img {
  margin-bottom: 16px;
}

.blog__data {
  margin-bottom: 12px;
}

.blog__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: $colorNeuturalBlack;
  margin-bottom: 12px;
}


