@use "../utils/variables" as *;

.content {
  padding: 60px 0 32px 0;
  background-color: $colorNeuturalWhite;
}

.content__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 950px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.content__image-box {
  max-width: 710px;
  margin: 0 auto;
  flex: 0 1 50%;
}

.content__img {
  display: block;
  width: 100%;
  margin: 0 auto 32px;

  @media (min-width: 950px) {
    margin: 0;
  }
}

.content__info-box {
  flex: 0 0 45%;
}

.content__title {
  margin-bottom: 12px;
}

.content__text {
  color: $colorNeuturalGrey-1;
  margin-bottom: 32px;
}

.content__list {
  display: grid;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $colorDarkBlue-2;
  display: flex;
  align-items: center;
  gap: 12px;
}

.content-check {
  width: 16px;
  height: 16px;
  stroke: $colorDarkBlue-2;
  fill: transparent;
}

.content__info {
  border-radius: 12px;
  padding: 12px 24px;
  width: 327px;
  height: 108px;
  background-color: $colorSkyBlue;

  @media (min-width: 768px) {
    border-radius: 24px;
    padding: 12px 32px;
    width: 450px;
    height: 80px;
  }
}

.content__info-text {
  color: $colorNeuturalWhite;
}

.content__info-text a {
  font-weight: 600;
  line-height: 1.33;
  margin-left: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.content__info-text a:hover {
  text-decoration: underline;
}
