@use "../utils/variables" as *;

.faq {
  padding: 32px 0;
  background-color: $colorNeuturalWhite;

  @media (min-width: 1200px) {
    padding: 64px 0;
  }
}

@media (min-width: 1200px) {
  .faq__container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .faq__container {
    padding: 0 120px;
  }
}
@media (min-width: 1920px) {
  .faq__container {
    gap: 138px;
    padding: 0 240px;
  }
}


.faq__title {
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: 1200px) {
    width: 375px;
    text-align: left;
    margin-bottom: 24px;
  }

  @media (min-width: 1440px) {
    width: 469px;
  }
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 32px;

  @media (min-width: 1200px) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .faq__question-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

.faq__question-link {
  font-weight: 600;
  line-height: 1.33;
  text-decoration: underline;
  color: $colorSkyBlue;

  @media (min-width: 1200px) {
    font-weight: 700;
    font-size: 24px;
  }
}

.accordion__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion__item {
  border-radius: 12px;
}

.accordion__button {
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.accordion__button p {
  width: 219px;
  font-weight: 600;
  line-height: 1.33;
  color: #3a3a3a;

  @media (min-width: 768px) {
    width: 537px;
  }

  @media (min-width: 1200px) {
    max-width: 725px;
    font-weight: 700;
    font-size: 24px;
  }
}

.accordion__item.active {
  background-color: $colorNeuturalLightGrey;
}

.arrow {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: $colorNeuturalBlack;
  transition: transform 0.5s linear;
}

.accordion__text {
  font-family: "Be Vietnam", sans-serif;
  color: #737373;
  padding: 0 0 24px;
}
.accordion__content {
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.accordion__item.active .accordion-content {
  opacity: 1;
  padding: 15px 20px;
}

.accordion__item.active .arrow {
  transform: rotate(-180deg);
}
