@use "../utils/variables" as *;

.guarantee {
  padding: 32px 0;
  background-color: $colorDarkBlue-1;
}

.guarantee__container {
  padding: 0 32px;
}

.guarantee__title {
  text-align: center;
  color: $colorNeuturalWhite;
  width: 202px;
  margin: 0 auto 12px;
}

.guarantee__description {
  width: 263px;
  text-align: center;
  color: $colorNeuturalGrey-3;
  margin: 0 auto 52px;
}

.guarantee__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.guarantee__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 263px;
}

.guarantee__image {
  margin-bottom: 12px;
}

.guarantee__icon {
  width: 80px;
  height: 80px;
  fill: #9ea3b5;
  stroke: transparent;
  margin-bottom: 12px;
}

.guarantee__card-title {
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: $colorNeuturalWhite;
  margin-bottom: 12px;
}

.guarantee__text {
  color: $colorNeuturalGrey-3;
}
