@use "../utils/variables" as *;

.guarantee {
  padding: 32px 0;
  background-color: $colorDarkBlue-1;

  @media (min-width: 1200px) {
    padding: 64px 0;
  }
}

.guarantee__container {
  padding: 0 32px;

  @media (min-width: 768px) {
    padding: 0 64px ;
  }
}

@media (min-width: 1200px) {
  .guarantee__box-title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media (min-width: 1920px) {
  .guarantee__box-title {
    justify-content: space-around;
   
  }
}

.guarantee__title {
  text-align: center;
  color: $colorNeuturalWhite;
  width: 202px;
  margin: 0 auto 12px;

  @media (min-width: 768px) {
    width: 502px;
    margin: 0 auto 24px;
  }

  @media (min-width: 1200px) {
    width: 485px;
    text-align: left;
    margin: 0;
  }

  @media (min-width: 1920px) {
    width: 600px;
  }
}

.guarantee__description {
  max-width: 263px;
  text-align: center;
  color: $colorNeuturalGrey-3;
  margin: 0 auto 52px;

  @media (min-width: 768px) {
    max-width: 502px;
  }

  @media (min-width: 1200px) {
    max-width: 613px;
    text-align: left;
    margin: 0;
  }
}

.guarantee__list {
  display: flex;
  flex-direction: column;
  gap: 52px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.guarantee__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 263px;

  @media (min-width: 768px) {
    max-width: 300px;
    margin: 0;
  }

  @media (min-width: 1380px) {
    max-width: 630px;
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 1380px) {
  .guarantee__text-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.guarantee__image {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;

  @media (min-width: 1380px) {
    margin-bottom: 0;
  }
}

.guarantee__icon {
  width: 80px;
  height: 80px;
  fill: #9ea3b5;
  stroke: transparent;
  margin-bottom: 12px;

  @media (min-width: 1380px) {
    width: 170px;
    margin-bottom: 0;
  }
}

.guarantee__card-title {
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: $colorNeuturalWhite;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    font-weight: 700;
    font-size: 24px;
  }

  @media (min-width: 1380px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.guarantee__text {
  color: $colorNeuturalGrey-3;

  @media (min-width: 1380px) {
    text-align: left;
  }
}
