@use "../utils/variables" as *;

.hero {
  padding: 24px 0 0 0;
}

@media (min-width: 1000px) {
  .hero__container {
    display: flex;

  }
}

.hero__services-list {
  display: flex;
  justify-content: center;
  gap: 34px;
}

.hero__services-item {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #9399b2;
  margin-bottom: 14px;
}

.hero__services-item:nth-child(2)::before {
  position: absolute;
  top: 8px;
  left: -17px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9399b2;
}

.hero__services-item:nth-child(2)::after {
  position: absolute;
  top: 8px;
  right: -17px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #9399b2;
}

.hero__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: $colorNeuturalWhite;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    font-size: 43px;
  }
}

.hero__bonuses-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.hero__bonuses-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: $colorSkyBlue;
}

.icon-check {
  width: 16px;
  height: 16px;
  stroke: $colorSkyBlue;
}

.hero__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 60px;
  width: 175px;
  height: 48px;
  background-color: $colorSkyBlue;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: $colorNeuturalWhite;
  margin-bottom: 40px;
}

.hero__button span {
  display: flex;
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: $colorNeuturalWhite;
}

.icon-phone {
  fill: $colorSkyBlue;
  stroke: $colorSkyBlue;
}

.home__services-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 47px;
  row-gap: 40px;
  padding: 13px 22px 28px 22px;
  margin: 0 auto;
  width: 290px;
  height: 242px;
}

.home__services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 99px;
  height: 80px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: $colorNeuturalWhite;
}

.home__services-item span {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2e3f7d;
}

.home__services-icon {
  width: 16px;
  height: 16px;
  stroke: $colorNeuturalWhite;
  fill: transparent;
}

.icon-line {
  width: 217px;
  height: 2px;
  background: linear-gradient(
    45deg,
    transparent,
    #4f66b7 48%,
    transparent 100%
  );
}

.horizont-line {
  position: absolute;
  top: 110px;
  left: 30px;
}

.vertical-line {
  position: absolute;
  bottom: 125px;
  left: 35px;
  rotate: 90deg;
}

.icon-left-decoration {
  position: absolute;
  bottom: -1px;
  left: -43px;
  width: 179px;
  height: 31px;
  fill: $colorNeuturalWhite;
}
.icon-right-decoration {
  position: absolute;
  bottom: -1px;
  right: -43px;
  width: 179px;
  height: 31px;
  fill: $colorNeuturalWhite;
}

.hero__image {
  display: none;

  @media (min-width: 1000px) {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 24px;
  }
}

.hero__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(51deg, #131f4b 0%, rgba(19, 31, 75, 0) 100%);
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
