@use "../utils/variables" as *;

.services {
  padding: 32px 0;
  background-color: $colorNeuturalWhite;
}

.services__title {
  text-align: center;
  margin-bottom: 12px;
}

.services__description {
  max-width: 313px;
  text-align: center;
  color: $colorNeuturalGrey-1;
  margin: 0 auto 32px;
}

.services__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.services__item {
  max-width: 304px;
  height: 180px;
}

.services__item span {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 12px;
  width: 64px;
  height: 64px;
  background-color: $colorDarkBlue-1;
  margin-bottom: 16px;
}

.services__icon {
  width: 40px;
  height: 40px;
  fill: $colorNeuturalWhite;
}

.services__card-title {
  text-align: center;
  margin-bottom: 12px;
}

.services__card-text {
  text-align: center;
  color: $colorNeuturalGrey-1;
}

.services__info {
  border-radius: 24px;
  padding: 32px;
  max-width: 327px;
  height: 236px;
  text-align: center;
  margin: 0 auto;
  background-color: $colorSkyBlue;
}

.services__info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: $colorNeuturalWhite;
  margin-bottom: 4px;
}

.services__info-text {
  color: $colorNeuturalWhite;
  margin-bottom: 32px;
}

.services__info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  max-width: 263px;
  height: 48px;
  background-color: $colorNeuturalWhite;
  font-weight: 700;
  line-height: 1.33;
  color: $colorSkyBlue;
  cursor: pointer;
}
