@use "../utils/variables" as *;

.works {
  padding: 32px 0;
  background-color: $colorNeuturalWhite;
}

.works__image-box {
  max-width: 327px;
  height: 266px;
  margin-bottom: 24px;
}

.works__image {
  max-width: 100%;
}

.works__title {
  width: 175px;
  margin-bottom: 24px;
}

.works__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.works__card {
  display: flex;
  gap: 24px;
}

.works__card span {
  font-weight: 700;
  font-size: 52px;
  line-height: 123%;
  color: $colorNeuturalGrey-3;
}

.works__card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  width: 164px;
  color: $colorNeuturalBlack;
}

.works__card-text {
  color: $colorNeuturalGrey-1;
}
