$colorDarkBlue-1: #142257;
$colorDarkBlue-2: #1f3584;
$colorSkyBlue: #15b2f5;
$colorNeuturalWhite: #fff;
$colorNeuturalBlack: #171921;
$colorNeuturalGrey-1: #545971;
$colorNeuturalGrey-3: #9ea3b5;
$colorNeuturalSoftGrey: #e3e6f0;
$colorNeuturalLightGrey: #f3f5f9;
$colorSystemYellow: #ffa928;
$colorSystemRed: #ff5e5e;
$colorShadesOfDarkBlue-1: #566ab1;
$colorShadesOfBlue-1: #5dcbfb;
$colorShadesOfBlue-2: #e8f7fe;
